<p><input value="Create Candidate" type="button" class="ibm-btn-arrow-pri" onclick="rht.createItemhandler()" /></p>

<table border="0" cellpadding="0" cellspacing="0" class="ibm-data-table" summary="candidate">
	<caption><em>Candidate</em></caption>
	<thead>
		<tr>
			<th class="ibm-rht-hide">ID</th>
			<th scope="col">Name</th>
			<th scope="col">Cellphone</th>
			<th scope="col">Email</th>
			<th scope="col">Vendor Contact</th>
			<th scope="col">Show Detail</th>
			<th scope="col">Status</th>
			<th scope="col">Onboard Date</th>
			<th class="ibm-rht-action" scope="col">Action</th>
		</tr>
	</thead>
	<tbody id="candidate_tbody">
		
	</tbody>
</table>


<!-- Overlay Start ============= -->
<div class="ibm-common-overlay" id="candidate_overlay">
	<div class="ibm-head">
		<p><a class="ibm-common-overlay-close" href="#close">Close [x]</a></p>
	</div>
	<div class="ibm-body">
		<div class="ibm-main">
			<a class="ibm-access"><!-- Accessibility anchor --></a>
			<div class="ibm-title">
				<h1 id="candidate_overlay_title">Edit candidate</h1>
			</div>
			<div class="ibm-container ibm-alternate">
				<div class="ibm-container-body">
					<p>Please fill the form</p>
					<form dojoType="dijit.form.Form" class="ibm-column-form ibm-styled-form" name="candidate_form" id="candidate_form">
						<p><label for="candidate_name">Name:</label>
							<span><input type="text" name="name" id="candidate_name" value="" /></span></p>
						<p><label for="candidate_cellphone">Cellphone:</label>
							<span><input type="text" name="cellphone" id="candidate_cellphone" value="" /></span></p>
						<p><label for="candidate_email">Email::</label>
							<span><input type="text" name="email" id="candidate_email" value="" /></span></p>
						<p><label for="candidate_owner_id">Vendor Contact:</label>
							<span><select name="vendor_contact_id" id="candidate_vendor_contact_id" source="vendorcontact">
								<option value="">Select one</option>
							</select></span></p>
						<p><label for="candidate_status">Status:</label>
							<span><select name="status" id="candidate_status">
								<option value="">Select one</option>
								<option value="New">New</option>
								<option value="Pending">Pending</option>
								<option value="Approved">Approved</option>
								<option value="Rejected">Rejected</option>
							</select></span></p>	
						<p><label for="candidate_onboard_date">Onboard Date::</label>
							<span><input type="text" name="onboard_date" id="candidate_onboard_date" value="" 
									data-dojo-type="dijit.form.DateTextBox" required="true" /></span></p>
							
						
						
						<div class="ibm-rule"><hr /></div>
						
						<div class="ibm-buttons-row">
							<input value="Create" type="button" class="ibm-btn-arrow-pri ibm-rht-hide" id="candidate_create" onclick="rht.createModuleItem()" />
							<input value="Update" type="button" class="ibm-btn-arrow-pri ibm-rht-hide" id="candidate_update" onclick="rht.updateModuleItem()" />
							<span class="ibm-sep">&nbsp;</span>
							<input value="Cancel" type="button" class="ibm-btn-cancel-sec" id="candidate_cancel" onclick="ibmweb.overlay.hide('candidate_overlay');" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="ibm-footer"></div>
</div>
<!-- Overlay End ============= -->

<!-- Detail Start ============= -->
<div class="ibm-common-overlay" id="candidate_detail">
	<div class="ibm-head">
		<p><a class="ibm-common-overlay-close" href="#close">Close [x]</a></p>
	</div>
	<div class="ibm-body">
		<div class="ibm-main">
			<a class="ibm-access"><!-- Accessibility anchor --></a>
			<div class="ibm-title">
				<h1 id="candidate_overlay_title">Edit candidate</h1>
			</div>
			<div class="ibm-container ibm-alternate">
				<div class="ibm-container-body">
					<p>Detail Information</p>
					
				</div>
			</div>
		</div>
	</div>
	<div class="ibm-footer"></div>
</div>
<!-- Overlay End ============= -->