<!-- Overlay Vendor Start ============= -->
<div class="ibm-common-overlay" id="vendorcontact_overlay">
	<div class="ibm-head">
		<p><a class="ibm-common-overlay-close" href="#close">Close [x]</a></p>
	</div>
	<div class="ibm-body">
		<div class="ibm-main">
			<a class="ibm-access"><!-- Accessibility anchor --></a>
			<div class="ibm-title">
				<h1 id="vendorcontact_overlay_title">Contact Information</h1>
			</div>
			<div class="ibm-container ibm-alternate">
				<div class="ibm-container-body">
					<p class="ibm-rht-hide ibm-rht-detail"><label for="vendorcontact_id">id:</label><span id="vendorcontact_id"></span></p>
					<p class="ibm-rht-detail"><label for="vendorcontact_name">Name:</label><span id="vendorcontact_name"></span></p>
					<p class="ibm-rht-detail"><label for="vendorcontact_office_phone">Office Phone:</label><span id="vendorcontact_office_phone"></span></p>
					<p class="ibm-rht-detail"><label for="vendorcontact_cellphone">Cellphone:</label><span id="vendorcontact_cellphone"></span></p>
					<p class="ibm-rht-detail"><label for="vendorcontact_email">Email:</label><span id="vendorcontact_email"></span></p>
					<p class="ibm-rht-detail"><label for="vendorcontact_address">Address:</label><span id="vendorcontact_address"></span></p>
					<p class="ibm-rht-detail"><label for="vendorcontact_description">Description:</label><span id="vendorcontact_description"></span></p>
				</div>
			</div>
		</div>
	</div>
	<div class="ibm-footer"></div>
</div>
<!-- Overlay Vendor End ============= -->
<!-- Overlay Detail Start ============= -->
<div class="ibm-common-overlay ibm-rht-overlay-wide" id="detail_overlay">
	<div class="ibm-head">
		<p><a class="ibm-common-overlay-close" href="#close">Close [x]</a></p>
	</div>
	<div class="ibm-body">
		<div class="ibm-main">
			<a class="ibm-access"><!-- Accessibility anchor --></a>
			<div class="ibm-title">
				<h1 id="detail_overlay_title">Candidate Detail Information</h1>
			</div>
			<div class="ibm-container ibm-alternate">
				<div class="ibm-container-body">
					<p class="ibm-rht-detail"><label for="detail_pin">PIN:</label><span id="detail_pin"> </span></p>
					<p class="ibm-rht-detail"><label for="detail_start_working_year">Start Working Year:</label><span id="detail_start_working_year"> </span></p>
					<p class="ibm-rht-detail"><label for="detail_gender">Gender:</label><span id="detail_gender"> </span></p>
					<p class="ibm-rht-detail"><label for="detail_college">College:</label><span id="detail_college"> </span></p>
					<p class="ibm-rht-detail"><label for="detail_degree">Degree:</label><span id="detail_degree"> </span></p>
					<p class="ibm-rht-detail"><label for="detail_english_certification">English Certification:</label><span id="detail_english_certification"> </span></p>
					<p class="ibm-rht-detail"><label for="detail_current_company">Current Company:</label><span id="detail_current_company"> </span></p>
					<p class="ibm-rht-detail"><label for="detail_available_onboard_date">Onboard Date:</label><span id="detail_available_onboard_date">&#160;</span></p>
					<p class="ibm-rht-detail"><label for="detail_resume">Resume:</label><span id="detail_resume"> </span></p>
					<p class="ibm-rht-detail"><label for="detail_comments">Comments:</label><span id="detail_comments"> </span></p>
				</div>
			</div>
		</div>
	</div>
	<div class="ibm-footer"></div>
</div>
<!-- Overlay Detail End ============= -->
				