<p><input value="Create Sponsor" type="button" class="ibm-btn-arrow-pri" onclick="rht.createItemhandler()" /></p>

<table border="0" cellpadding="0" cellspacing="0" class="ibm-data-table" summary="sponsor">
	<caption><em>sponsor</em></caption>
	<thead>
		<tr>
			<th class="ibm-rht-hide">ID</th>
			<th scope="col">Name</th>
			<th scope="col">Owner name</th>
			<th scope="col">Description</th>
			<th class="ibm-rht-action" scope="col">Action</th>
		</tr>
	</thead>
	<tbody id="sponsor_tbody">
		
	</tbody>
</table>


<!-- Overlay Start ============= -->
<div class="ibm-common-overlay" id="sponsor_overlay">
	<div class="ibm-head">
		<p><a class="ibm-common-overlay-close" href="#close">Close [x]</a></p>
	</div>
	<div class="ibm-body">
		<div class="ibm-main">
			<a class="ibm-access"><!-- Accessibility anchor --></a>
			<div class="ibm-title">
				<h1 id="sponsor_overlay_title">Edit sponsor</h1>
			</div>
			<div class="ibm-container ibm-alternate">
				<div class="ibm-container-body">
					<p>Please fill the form</p>
					<form dojoType="dijit.form.Form" class="ibm-column-form ibm-styled-form" name="sponsor_form" id="sponsor_form">
						<p><label for="sponsor_name">Name:</label>
							<span><input type="text" name="name" id="sponsor_name" value="" /></span></p>
						<p><label for="sponsor_owner_name">Owner name:</label>
							<span><input type="text" name="owner_name" id="sponsor_owner_name" value="" /></span></p>
						<p><label for="sponsor_description">Description:</label>
							<span><input type="text" name="description" id="sponsor_description" value="" /></span></p>
						
						<div class="ibm-rule"><hr /></div>
						
						<div class="ibm-buttons-row">
							<input value="Create" type="button" class="ibm-btn-arrow-pri ibm-rht-hide" id="sponsor_create" onclick="rht.createModuleItem()" />
							<input value="Update" type="button" class="ibm-btn-arrow-pri ibm-rht-hide" id="sponsor_update" onclick="rht.updateModuleItem()" />
							<span class="ibm-sep">&nbsp;</span>
							<input value="Cancel" type="button" class="ibm-btn-cancel-sec" id="sponsor_cancel" onclick="ibmweb.overlay.hide('sponsor_overlay');" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="ibm-footer"></div>
</div>
<!-- Overlay End ============= -->